body {
  color: rgb(15, 12, 12);
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.button-bar {
  display: flex;
  gap: 5px;
}

button {
  background-color: rgb(145, 213, 240);
  color: rgba(0, 0, 10, 0.966);
  width: 100px;
  height: 50px;
}

button:hover {
  background-color: rgb(237, 97, 120);
  color: rgb(245, 243, 244);
}

figure {
  margin: 0;
}

.title {
  background-color: rgb(148, 204, 236);
  font-family: 'Bubblegum Sans', cursive;
  
}
.title2 {
  font-family: 'Bubblegum Sans', cursive;
}

p {
  color: rgb(7, 7, 7);
}

.image {
  background: url('https://cdn.suwalls.com/wallpapers/minimalistic/airplane-17407-2560x1600.jpg');
  width: 100px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.img-fluid {
  width: 100%;
}